$font-family: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
@media screen and (min-width: 240px) and (max-width: 320px) {
  html {
    font-size: 12.8px !important;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 376px) and (max-width: 384px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 385px) and (max-width: 414px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 415px) and (max-width: 450px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 451px) and (max-width: 500px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 501px) and (max-width: 550px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 551px) and (max-width: 569px) {
  html {
    font-size: 16px !important;
  }
}
@media (min-width: 569px) and (max-width: 640px) {
  html {
    font-size: 16px !important;
  }
}
@media (min-width: 641px) and (max-width: 667px) {
  html {
    font-size: 16px !important;
  }
}
@media (min-width: 668px) and (max-width: 736px) {
  html {
    font-size: 18px !important;
  }
}
@media (min-width: 738px) and (max-width: 768px) {
  html {
    font-size: 18px !important;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  html {
    font-size: 18px !important;
  }
}
@media (min-width: 901px) and (max-width: 1080px) {
  html {
    font-size: 18px !important;
  }
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(images/jane-utochkina-0GrtD_9WnPU-unsplash.jpg);
  background-size: cover;
  .home-item {
    display: flex;
    justify-content: center;
    .home-item-list {
      display: flex;
      width: 80%;
      margin: 0 auto;
      justify-content: space-around;
      li {
        list-style: none;
        line-height: 5rem;
        a {
          color: navy;
          text-decoration: none;
          font-size: 1.5rem;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .home-intro {
    text-align: center;
    margin-top: 10rem;
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.portfolio {
  box-sizing: border-box;
  width: 100%;
  background-image: url(images/eberhard-grossgasteiger-vztdLE4li3o-unsplash.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .timeline {
    height: auto;
    max-width: 800px;
    margin: 4rem auto;
    @media screen and (min-width: 720px) {
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
      }
    }
    ul {
      list-style: none;
      li {
        padding: 20px;
        background-color: lightslategray;
        color: wheat;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        .timeline-content {
          time {
            font-size: 0.8rem;
            color: white;
            font-weight: 700;
          }
          p {
            font-size: 1rem;
          }
          span {
            font-size: 1.2rem;
            color: white;
          }
        }
        @media only screen and (min-width: 720px) {
          width: 50%;
          margin-bottom: 50px;
          position: relative;
          .timeline-content {
            time {
              font-size: 0.8rem;
              position: absolute;
              top: -30px;
              color: #000;
            }
          }
          &:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-60px);
            border-radius: 20px 0 20px 20px;
            &::after {
              right: -20px;
              transform: translate(50%, -50%);
            }
          }
          &:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(60px);
            border-radius: 0 20px 20px 20px;
            &::after {
              left: -40px;
              transform: translate(50%, -50%);
            }
          }
          &::after {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: grey;
            border-radius: 50%;
            top: 0;
          }
          &:hover:after {
            background-color: lightyellow;
          }
        }
      }
    }
  }
}

.services {
  width: 100%;
  background-image: url(images/eberhard-grossgasteiger-vztdLE4li3o-unsplash.jpg);
  background-size: cover;
  .box-head {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .box-body {
    .box-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      width: 80vw;
      margin: 0 auto;
      padding-bottom: 3rem;
      li {
        width: 17rem;
        height: 13rem;
        color: white;
        background-color: rgba($color: rgb(34, 150, 204), $alpha: 0.7);
        margin: 2rem 2rem;
        text-align: center;
        border-radius: 5px;
        line-height: 2.5rem;
        &:hover {
          box-shadow: 2px 2px 3px 3px rgba($color: #000000, $alpha: 0.3);
        }
        span {
          font-size: 1.5rem;
          color: rgba($color: #000000, $alpha: 0.7);
        }
      }
    }
  }
}

.contact {
  width: 100%;
  background-image: url(images/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-size: cover;
  h3 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    input {
      border: 1px solid transparent;
      background-color: rgba($color: #cee5ee, $alpha: 0.8);
      height: 3rem;
      width: 40%;
      margin: 1.5rem auto;
      border-radius: 10px;
      font-size: 1rem;
      vertical-align: top;
      color: rgba($color: #000000, $alpha: 0.4);
    }
    .text-message {
      height: 10rem;
    }
    button {
      width: 12rem;
      height: 2.5rem;
      margin: 1.5rem auto;
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: rgba($color: rgb(26, 202, 214), $alpha: 0.8);
      font-size: 1rem;
      color: rgba($color: #000000, $alpha: 0.8);
      &:hover {
        cursor: pointer;
        background-color: white;
      }
    }
  }
}
